html, body {
    height: 100%;
  }
  
  body {
    background: url("https://res.cloudinary.com/bhantsi/image/upload/v1604616095/mbuntu-1.jpg");
    background-size: cover;
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  #clock {
    font-family: 'Share Tech Mono', monospace;
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: white;
   
  }
  #clock .time {
    letter-spacing: 0.05em;
    font-size: 80px;
    padding: 5px 0;
  }
  #clock .date {
    letter-spacing: 0.1em;
    font-size: 32px;
  }
  #clock .text {
    letter-spacing: 0.1em;
    font-size: 23px;
    padding: 20px 0 0;
  }
  